 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2> Academic Experience </h2>
     <img src="{{ "/assets/img/academ.png" | prepend: site.baseurl }}"
       alt=""
       width="400"
       height="341">
      <p>Lecturing, Mentoring Evaluation and Revision <a class="project-link" href="#">Read More</a>    </p>
    </div>
    <div class="tech">
      <h2>Teamwork</h2>
      <img 
           src="{{ "/assets/img/teamwork.jpeg" | prepend: site.baseurl }}"
       alt=""
       width="400"
       height="341">
      <p>Customer Support, Problem Solving,  Business
Development <a class="project-link" href="#">Read More</a>  </p>
    </div>
    <div class="tech">
      <h2>Management</h2>
       <img src="{{ "/assets/img/management.jpeg" | prepend: site.baseurl }}"
       alt=""
       width="400"
       height="341">
      <p>Leadership, Advising,  counseling and Improvement Strategies <a class="project-link" href="#">Read More</a>  </p>
    </div>
</div>
